@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* browser css reset */
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Hanken Grotesk', sans-serif;
}
/* to center items */
body{
     display: grid; 
     place-items: center; 
     min-height: 100vh; 
 }

 /* Layout */
 .card-container {
    display: flex;
    max-width: 46.875em;
    /* border-radius: 8px; */
 }
 .left-card, .right-card {
    border-radius: .625em;
 }

/* Left card / Purple card */
.left-card {
    flex: 1;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
    border: .0625em solid red;
    color: white;
    /* width: 90%; */
    /* justify-content: center; */
    
}
.left-info {
    /* border: 3px solid lightgrey; */
    width: 65%;
    margin: 0 auto;
}
.score-circle {
    border: .0625em dashed salmon;
    border-radius: 50%;
    width: 7.5em;
    height: 7.5em;
    margin: 0 auto;
}

.score {
    padding: 1em;
    text-align: center;
}
span {
    font-weight: 700;
    font-size: 3em;
}

/* Right card / White card */
.right-card {
    flex: 1;
    border: 2px dotted lime;
}

.items {
    border: 1px dotted blueviolet;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}
li {
    padding: .5em 0;
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

/* button */
button {
    width: 85%;
    margin: 1em;
}

/* typography */

h4 {
    /* text-align: center; */
    padding: 1em;
}
.result-title {
    text-align: center;
    padding-top: 2em;
}


/* FOOTER */
.attribution { 
    font-size: .6875em; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

 h2, .result-text {
    text-align: center;
}
h2 {
    padding: .4em;
}

.result-text {
    padding-bottom: 2em;
    /* color: #C4C4C4; */
}

.result-text, .result-title {
    color: hsla(0, 0%, 95%, 0.7);
}


/* what to do about li spacing?? */
/* still need to figure this out */